h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #122c2b;
}
p {
    font-size: 16px;
    font-weight: normal;
    text-align: normal;
    color: #455052;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #302929;
}

img.curso {
    float: right;
}

img.logo {
    display: block;
    margin: 20px auto;
    width: 200px;
}

body {
    background-color: #3a6b5b;
    
}

main {
    background: #e0dcdc;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

p.link {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #122c2b;
}
