h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #131111;
}
p {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    color: #455052;
    line-height: 1.6;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #302929;
}

img.curso {
    float: right;
}

img.logo {
    display: block;
    margin: 20px auto;
    width: 200px;
}

body {
    background-color: #3a6b5b;
    
}

main {
    background: #e0dcdc;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
